Q.1

"Tuples" are one of the 4 data types in Python. Tuples are assigned if any element is stored in round bracket. The first value in the tuple will have the index [0], the second value [1], and so on. 
Tuples are immutable i.e we cannot change the element/values once assigned in tuple.

Q.2

#Python has two in-built methods which can be used on Tuples:
    
1. count() - Returns the number of times a specified value occurs in a tuple
    
Ex.

In [8]:
t1 = (23,45,67,78,45,23,23)
out1 = t1.count(23)
print(out1)    #it will give as output 3 as 23 has occured 3 times in the tuple

3

2. index() - Searches the tuple for a specified value and returns the position of where it was found

Ex.

In [10]:
t2 = (2,3,4,5,6,78,8,9)
out2 = t2.index(6)
print(out2)    # it will give output as 4 as the position of '6' is 4 in the tuple

4

Q.3

'Set' is a data type which does not allow the duplication of any item.

In [11]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

set(List)

{1, 2, 3, 4}

Q.4

In [12]:
# "Union" is in built function for Set which returns a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.union(y)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [13]:
# "Update" is a set with the union of itself and others. It will not return a new set and will just update with the 2nd one.

In [14]:
a = {'1','2','3','4','5','6'}
b = {'4','5','6','7','8','9'}

a.update(b)

In [15]:
a

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

Difference

update changes a set by adding the elements of the other.

union combines 2 sets into a 3rd and leaves the source 2 alone.

Q.5

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [16]:
info = {"name":"Rehan", "age":26, "DOB":"1-1-1997"}

In [21]:
print(info)
info['DOB']

{'name': 'Rehan', 'age': 26, 'DOB': '1-1-1997'}

'1-1-1997'

Q.6

In [22]:
# Nested Dictionary:

people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people[2]['age']

'22'

Q.7

In [9]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
l1 = ["Python", "Machine Learning", "Deep Learning"]

dict1.setdefault("Topics",l1)

dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topics': ['Python', 'Machine Learning', 'Deep Learning']}

Q.8.

The three view objects of dictionary in python are keys, values and items. They provide a non-constant view of the dictionaryâ€™s entries.

Keys holds all the keys of the dictionary, the values objects holds all the values, whereas the items holds the key-value pairs.

In [16]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

#keys:

dict1.keys()

dict_keys(['Sport', 'Teams'])

In [17]:
#values:

dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [18]:
#items:

dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])